body{
    background-color: black;
}
.cor{
    color: white;
}
.re{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.d{
    float: right;
}
.espaco{
    margin-top: 80px;
}
.espaco1{
    margin-top: 300px;
}
.overlay 
  {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content 
  {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a 
  {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus 
  {
    color: #49c06d;
  }
  
  .overlay .closebtn 
  {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) 
  {
    .overlay 
    {
      overflow-y: auto;
    }
    .overlay a 
    {
      font-size: 20px
    }
    .overlay .closebtn 
    {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  .openbtn 
  {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  .openbtn:hover 
  {
    background-color:#444;
  }
  .img{
    border-radius: 50%;
    height: 40px;
    
  }